<?page title="ZK Sender - SendSpace"?>
<window title="ZK Sender - SendSpace" border="normal" width="280px"
	apply="dd.sendspace.SendSpaceWindowComposer" defaultActionOnShow="moveDiagonal">
	<vbox>
		<menubar>
			<menu label="SendSpace">
				<menupopup>
					<menuitem label="Ask for an API key"
						href="http://www.sendspace.com/dev_apikeys.html" />
					<menuseparator />
					<menuitem label="API Methods"
						href="http://www.sendspace.com/dev_method.html" />
				</menupopup>
			</menu>
			<menuitem label="Send Large Files" upload="true"
				image="/img/PaperClip-16x16.png" id="DDUploader" />
		</menubar>
		<tabbox height="300px" width="98%">
			<tabs>
				<tab label="Send" />
				<tab label="Properties"/>
			</tabs>
			<tabpanels>
				<tabpanel width="95%">
					<vbox width="80%">
						<label value="Please enter your email:" />
						<textbox id="txEmail" hflex="true"
							constraint="no empty:you have to place the email here" />
					</vbox>
				</tabpanel>
				<tabpanel width="95%">
					<vbox width="80%">
						<label value="SMTP Server:" />
						<textbox id="txServer" hflex="true"
							constraint="no empty:you have to place the smtp server here" />
						<label value="SMTP Port:" />
						<textbox id="txPort" hflex="true"
							constraint="no empty:you have to place the smtp port here" />
						<label value="Developer Key:" />
						<textbox id="txKey" hflex="true"
							constraint="no empty:you have to place the developer" />
							<space orient="vertical" spacing="8"/>
						<button id="btSave" label="Save"  hflex="true"/>
					</vbox>
				</tabpanel>
			</tabpanels>
		</tabbox>
	</vbox>
</window>